/* Importing the 'Poppins' font from Google Fonts with various weights */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

/* Styling the background of the body and setting text color */
body {
    color: #fff;
    background: black;
    overflow: hidden; 
}

/* Header styling */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Main content section styling */
.main {
    min-height: 100vh; 
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto; 
    transition: .3s ease; 
}

/* Styling for the active state of the main section */
.main.active {
    filter: blur(15px); 
    pointer-events: none; 
}

/* Footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

/* Styling for links in the footer */
.footer a {
    text-decoration: none;
    color: dimgray;
    transition: all 1s ease 0s; 
}

/* Styling for links in the footer on hover */
.footer a:hover {
    color: white; 
}

/* Container styling */
.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

/* Home section styling */
.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the content within the home section */
.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Styling for the heading within the home section */
.home-content h1 {
    font-size: 65px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3); 
}

/* Styling for the paragraph within the home section */
.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3); 
    margin-bottom: 30px;
}

/* Styling for the start button within the home section */
.home-content .start-btn {
    width: 190px;
    height: 55px;
    background: red;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px red; 
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s; 
}

/* Styling for the start button on hover */
.home-content .start-btn:hover {
    background: black;
    box-shadow: none; 
}
/* Styling for the popup information box */
.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

/* Styling for the active state of the popup information box */
.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Styling for the heading within the popup information box */
.popup-info h2 {
    font-size: 50px;
    color: red;
}

/* Styling for information items within the popup */
.popup-info .info {
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

/* Styling for level buttons within the popup */
.popup-info .level-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Styling for easy, medium, and hard buttons within the popup */
.popup-info .level-buttons .easy-btn,
.popup-info .level-buttons .medium-btn,
.popup-info .level-buttons .hard-btn {
    width: 100%;
    height: 50px;
    margin: 7px 0;
    background: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

/* Styling for the easy button on hover */
.popup-info .level-buttons .easy-btn:hover {
    background-color: green;
    color: white;
}

/* Styling for the active state of the easy button */
.popup-info .level-buttons .easy-btn.active {
    background-color: green;
    color: white;
}

/* Styling for the medium button on hover */
.popup-info .level-buttons .medium-btn:hover {
    background-color: orange;
    color: white;
}

/* Styling for the active state of the medium button */
.popup-info .level-buttons .medium-btn.active {
    background-color: orange;
    color: white;
}

/* Styling for the hard button on hover */
.popup-info .level-buttons .hard-btn:hover {
    background-color: red;
    color: white;
}

/* Styling for the active state of the hard button */
.popup-info .level-buttons .hard-btn.active {
    background-color: red;
    color: white;
}

/* Styling for the button group within the popup */
.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

/* Styling for information buttons within the button group */
.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: red;
    border: 2px solid red;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

/* Styling for the first information button */
.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: red;
}

/* Styling for the first information button on hover */
.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: red;
    color: #fff;
}

/* Styling for the second information button */
.popup-info .btn-group .info-btn:nth-child(2) {
    pointer-events: none;
    transition: .5s;
}

/* Styling for the active state of the second information button */
.popup-info .btn-group .info-btn:nth-child(2).active {
    pointer-events: auto;
    background: red;
    border-color: red;
    color: #fff;
}

/* Styling for the second information button on hover */
.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: darkred;
    border-color: darkred;
}

/* Styling for the quiz section */
.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;
}

/* Styling for the active state of the quiz section */
.quiz-section.active {
    left: 0;
}

/* Styling for the quiz box within the quiz section */
.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid red;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}

/* Styling for the active state of the quiz box */
.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

/* Styling for the heading within the quiz box */
.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, red, transparent);
    border-radius: 6px;
}

/* Styling for the header section within the quiz box */
.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid red;
    margin-bottom: 30px;
}

/* Styling for spans within the quiz header */
.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

/* Styling for the header score section within the quiz header */
.quiz-header .header-score {
    background: red;
    border-radius: 3px;
    padding: 7px;
}

/* Styling for the question text within the quiz box */
.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
}

/* Styling for option elements within the option list */
.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
}

/* Styling for options on hover */
.option-list .option:hover {
    background: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

/* Styling for correct options */
.option-list .option.correct {
    background: black;
    color: #00a63d;
    border-color: #00a63d;
}

/* Styling for incorrect options */
.option-list .option.incorrect {
    background: black;
    color: #a60045;
    border-color: #a60045;
}

/* Styling for disabled options */
.option-list .option.disabled {
    pointer-events: none; 
}

/* Styling for the quiz footer */
.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid red;
    padding-top: 20px;
    margin-top: 25px;
}

/* Styling for the question total within the quiz footer */
.quiz-footer .question-total {
    font-size: 16px;
    font-weight: 600;
}

/* Styling for the next button within the quiz footer */
.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    pointer-events: none; 
    transition: .5s; 
}

/* Styling for the active state of the next button */
.quiz-footer .next-btn.active {
    pointer-events: auto; 
    background: red;
    border-color: red;
    color: #fff;
}

/* Styling for the next button on hover in active state */
.quiz-footer .next-btn.active:hover {
    background: darkred;
    border-color: darkred;
}

/* Styling for the result box within the quiz section */
.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid red;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

/* Styling for the active state of the result box */
.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Styling for the heading within the result box */
.result-box h2 {
    font-size: 52px;
}

/* Styling for the percentage container within the result box */
.result-box .percentage-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

/* Styling for the circular progress bar within the percentage container */
.percentage-container .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the circular progress bar's background */
.percentage-container .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: black;
    border-radius: 50%;
}

/* Styling for the progress value within the circular progress bar */
.circular-progress .progress-value {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

/* Styling for the score text within the result box */
.percentage-container .score-text {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

/* Styling for buttons within the result box */
.result-box .buttons {
    display: flex;
}

/* Styling for button elements within the buttons section */
.buttons button {
    width: 130px;
    height: 47px;
    background: red;
    border: 2px solid red;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s; 
}

/* Styling for the first button on hover */
.buttons button:nth-child(1):hover {
    background: darkred;
    border-color: darkred;
}

/* Styling for the second button */
.buttons button:nth-child(2) {
    background: transparent;
    color: red;
}

/* Styling for the second button on hover */
.buttons button:nth-child(2):hover {
    background: red;
    color: #fff;
}